@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-outfit: "Outfit", sans-serif;
	--color-primary: #2a2a2a;
	--color-secondary: #ffffff;
	--color-tertiary: #0cffb2;
	--color-quadrary: #f7f7f7;
}
body {
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--animate-marquee: marquee var(--duration, 60s) linear infinite;
	--color-sky-500: var(----sky-500);
	--color-sky-400: var(----sky-400);

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}
}

.btn2 {
	position: relative;
	display: inline-block;
	border: 2px solid #0cffb2;
	color: #2a2a2a;
	text-decoration: none;
}

/* TEXTE AU-DESSUS */
.btn2-text {
	position: relative;
	z-index: 2;
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: uppercase;
}

/* LIGNE HORIZONTALE */
.btn2::before {
	content: "";
	position: absolute;
	top: 6px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% - 12px);
	background-color: #f7f7f7;
	transition: transform 0.5s ease;
	transform: scaleY(1);
	z-index: 1;
}

/* LIGNE VERTICALE */
.btn2::after {
	content: "";
	position: absolute;
	left: 6px;
	top: -2px;
	width: calc(100% - 12px);
	height: calc(100% + 4px);
	background-color: #f7f7f7;
	transition: transform 0.5s ease;
	transform: scaleX(1);
	transition-delay: 0.5s;
	z-index: 1;
}

.btn2:hover::before {
	transform: scaleY(0);
}

.btn2:hover::after {
	transform: scaleX(0);
}

/* From Uiverse.io by adamgiebl */
.card {
	border-radius: 10px;
	background: white;
	box-shadow: 15px 15px 30px #bebebe, -10px -10px 60px #ffffff;
}

.card2 {
	border-radius: 10px;
	background: white;
	box-shadow: 10px 10px 30px #bebebe, -10px -10px 60px #ffffff;
}
